<!-- <section class="product">
  <div class="containere">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <div class="text">1</div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <div class="card-container">
  <button (click)="onNavigate('next')">Next Card</button>
  <button (click)="onNavigate('prev')" *ngIf="currentIndex > 0">Previous Card</button>
</div> -->


<!-- <div class="flex gap-2 max-sm:flex-col">
  <div class="max-w-sm m-auto w-full lg:max-w-full lg:flex">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
      style="background-image: url('../../../assets/event-java.jpeg')" title="Woman holding a mug">
    </div>
    <div
      class="border-r border-b border-l border-gray-300 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white dark:bg-gray-900 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <p class="text-sm text-gray-500 flex items-center">
          <svg class="fill-current text-gray-400 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
          </svg>

        </p>
        <div class="text-gray-400 font-bold text-xl mb-2">Can coffee make you a better developer?</div>
        <p class="text-gray-500 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia,
          nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
      </div>
      <div class="flex items-center">
        <img class="w-10 h-10 rounded-full mr-4" src="../../../assets/doke-noticia.png"
          alt="Avatar of Jonathan Reinink">
        <div class="text-sm">
          <p class="text-gray-500 leading-none">Jonathan Reinink</p>
          <p class="text-gray-600">Aug 18</p>
        </div>
      </div>
    </div>
  </div>
  <!-- fim ->
  <div class="max-w-sm m-auto w-full lg:max-w-full lg:flex">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
      style="background-image: url('../../../assets/event-java.jpeg')" title="Woman holding a mug">
    </div>
    <div
      class="border-r border-b border-l border-gray-300 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white dark:bg-gray-900 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8">
        <p class="text-sm text-gray-500 flex items-center">
          <svg class="fill-current text-gray-400 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
          </svg>
          Members only
        </p>
        <div class="text-gray-400 font-bold text-xl mb-2">Can coffee make you a better developer?</div>
        <p class="text-gray-500 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia,
          nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
      </div>
      <div class="flex items-center">
        <img class="w-10 h-10 rounded-full mr-4" src="../../../assets/doke-noticia.png"
          alt="Avatar of Jonathan Reinink">
        <div class="text-sm">
          <p class="text-gray-500 leading-none">Jonathan Reinink</p>
          <p class="text-gray-600">Aug 18</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="carousel w-full">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="https://daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.jpg" class="w-full" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div> -->
<div class="">

  <div class="mb-5 flex justify-end">
    <div class="inline-flex group">
      <button
        class="bg-gray-400 group-hover:border-none hover:bg-gray-500 border-r border-gray-300 text-gray-800  font-bold py-2 px-4 rounded-l"
        (click)="onNavigate('prev')" [disabled]="currentIndex === 0">
        ❮
      </button>
      <button class="bg-gray-400 hover:bg-gray-500  text-gray-800 font-bold py-2 px-4 rounded-r"
        (click)="onNavigate('next')" [disabled]="currentIndex >= cards.length - 2">
        ❯
      </button>
    </div>
    <!-- <button class="btn btn-circle" (click)="onNavigate('prev')" [disabled]="currentIndex === 0">❮ </button> -->
    <!-- <button class="btn btn-circle" (click)="onNavigate('next')" [disabled]="currentIndex >= cards.length - 2">❯❯</button> -->
  </div>
  <div class="flex gap-4 max-sm:flex-col">

    <ng-container *ngFor="let card of cards.slice(currentIndex, currentIndex + 2); let i = index" class="">
      <div class="max-w-sm m-auto w-full lg:max-w-full lg:flex">
        <!-- <div
          class="h-48 lg:h-auto lg:w-60 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          [style.backgroundImage]="'url(' + card.imgPath + ')'" title="Imagem">

        </div> -->
        <div
          class="h-48 lg:h-auto lg:w-60 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          [style.backgroundSize]="'cover'" title="Imagem">
          <img src="{{ card.imgPath}}" class="w-96 h-96" alt="">
        </div>


        <div
          class="border-r border-b border-l dark:border-gray-300 border-gray-900 lg:border-l-0 lg:border-t lg:border-gray-400 bg-zinc-300 dark:bg-gray-900 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8 mt-1">
            <p class="text-sm text-zinc-700  dark:text-gray-500 flex items-center">
              <!-- <svg class="fill-current text-gray-400 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
              </svg> -->
              @if(card.evento) {
              <svg xmlns="http://www.w3.org/2000/svg" class="fill-current  text-gray-400 w-3 h-3 mr-2" width="16"
                height="16" fill="currentColor" class="bi bi-unlock" viewBox="0 0 20 20">
                <path
                  d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z" />
              </svg>
              } @else {
              <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-gray-400 w-3 h-3 mr-2" width="16"
                height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 20 20">
                <path
                  d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
              </svg>
              }
              {{ card.typeMembro }}
            </p>
            <a target="_blank " href="{{card.link}}" style="display: block;">
              <div
                class="text-gray-800 hover:text-gray-900 dark:hover:text-gray-100  dark:text-gray-400 font-bold text-xl mb-2">
                {{
                card.Title }}</div>
            </a>
            <p class="text-gray-700 dark:text-gray-500 text-base">{{ card.desc }}</p>
          </div>
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full mr-4" [src]="card.imgAutor" alt="Avatar">
            <div class="text-sm">
              <p class="text-gray-700 dark:text-gray-500 leading-none">{{ card.nomes }}</p>
              <p class="text-gray-600">{{ card.datas }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>




  <!-- <div class="container" #container>
  <div class="left" *ngIf="totalPages > 1" (click)="currentPage != 1 && changePage(-1)"
    [ngClass]="{'disabled':currentPage === 1}"></div>
  <div class="cards" [ngClass]="{'w-100': totalPages === 1}">
    <div class="overflow" [ngStyle]="{'width': overflowWidth, 'left': pagePosition}">
      <div class="card" *ngFor="let i of arr; let index = index" [ngStyle]="{'width': cardWidth}">
        <span>{{i}}</span>
      </div>
    </div>
  </div>
  <div class="right" *ngIf="totalPages > 1" (click)="currentPage != totalPages && changePage(+1)"
    [ngClass]="{'disabled':currentPage === totalPages}"></div>
</div> -->
</div>